body{
    font-weight: arial,sans-serif;
    background-color: #f0f0f0;
    margin: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    max-width: auto;
    width: auto;
    margin-left: auto;

}
div{
    margin: 15px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10npx;

}
h1{
    color: black;
    text-align: center;
    text-decoration: dashed;
    text-shadow: 1000cap;
    -webkit-text-stroke-color: azure;
    margin-bottom: 20px;
    font-size: 100px;
}

button{
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5cm;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #45a049;
}
button:focus{
    outline: none;
}

@media screen and (max-width: 600px) {
    form {
        width: 40%;
    }
}